.grid-container {
    width: 100%;
    height: 90vh;
    max-width: 100%;
    overflow: hidden;
}
.table-container {
    width: 640px;
    margin: 0 auto;
}
.grid-scroller {
    overflow: scroll;
    height: 440px;
}
.presentation-switch-container {
    flex-direction: row;
    padding: 20px 0;
    justify-content: space-between;
}
.presentation-switch-container > div {
    display: inline-block;
    cursor: pointer;
}
.table-container thead {
    background:  #838C91;
    color: white;
}
.table-container thead th {
    cursor: pointer;
}
.table-container td,
.table-container th
{
    padding: 10px;
}
.table-container tr {
    border-bottom: 1px solid;
}
.pagination-container {
    padding: 10px 0;
}
.pagination-container .pagination-container-prev,
.pagination-container .pagination-container-next
{
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    color: #00C2E0;
}